html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }

#parentDiv{
    background : #ff9999;
    padding : 20px;
    border-radius : 12px;
    width : 90%;
    height : 800px;
    margin-right : 4%;
    margin-left : 4%;
    font : oblique bold 20px arial,serif;
    color : rgb(255, 229, 229);
    border-style : groove;
    border-width : 12px;
    border-color : #f44245;
}

#parentTitle{
    font : oblique bold 40px arial,serif;
}

#divLeft{
    background : #ffe0e0;
    padding : 10px;
    border-radius : 12px;
    width : 20%;
    margin-left : 4%;
    height : 560px;
    font : oblique bold 12px arial,serif;
    color : #f44245;
    border-style : groove;
    border-width : 12px;
    border-color : #f44245;
    float : left;
}

#leftDivTitle{
    width : 95%;
    text-align : center;
}

#txtId{
    visibility: hidden;
}

#nameLabel{    
    width : 95%;
    text-align : center;
}

#nameLabelV{
    width : 95%;
    text-align : center;
}

#txtName{    
    width : 70%;
    margin-left : 15%;
    margin-right : 15%;
    border-style : groove;
    border-radius : 12px;
    border-color : #f44245;
    border-width : 6px;
    text-align : center;
}

#myNameLabel{
    width : 95%;
    text-align : center;
}

#myNameLabelV{
    width : 95%;
    text-align : center;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    text-align: center;
    background-color: #ff9999; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: center;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

#txtMyName{    
    width : 70%;
    margin-left : 15%;
    margin-right : 15%;
    border-style : groove;
    border-radius : 12px;
    border-color : #f44245;
    border-width : 6px;
    text-align : center;
}

#descLabel{
    width : 95%;
    text-align : center;
}

#descLabelV{
    width : 95%;
    text-align : center;
}

#txtdesc{    
    min-height : 100px;
    width : 70%;
    margin-left : 15%;
    margin-right : 15%;
    border-style : groove;
    border-radius : 12px;
    border-color : #f44245;
    border-width : 6px;
}

#completeLabel{
    width : 95%;
    text-align : center;
}

#btnSave{
    background-color : #ff9999;
    border : groove;
    border-width : 6px;
    border-color : #f44245;
    color : rgb(255, 229, 229);
    padding : 20px;
    text-align : center;
    text-decoration : none;
    font-size : 16px;
    margin : 4px 2px;
    cursor : pointer;
    border-radius : 12px;
    width : 40%;
    font : oblique bold 20px arial,serif;
    float: left;
    margin-left : 5%;
    margin-right : 5%;
    margin-top : 5%;
}

#btnClear{
    background-color : #ff9999;
    border : groove;
    border-width : 6px;
    border-color : #f44245;
    color : rgb(255, 229, 229);
    padding : 20px;
    text-align : center;
    text-decoration : none;
    font-size : 16px;
    margin : 4px 2px;
    cursor : pointer;
    border-radius : 12px;
    width : 40%;
    font : oblique bold 20px arial,serif;
    float: left;
    margin-left : 5%;
    margin-right : 5%;
    margin-top : 5%;
}

#divCenter{    
    background : #ffe0e0;
    padding : 10px;
    border-radius : 12px;
    width : 30%;
    height : 560px;
    margin-left : 2%;
    font : oblique bold 12px arial,serif;
    color : #f44245;
    border-style : groove;
    border-width : 12px;
    border-color : #f44245;
    float : left;
    overflow-Y : scroll;
}

#divRight{
    background : #ffe0e0;
    padding : 10px;
    border-radius : 12px;
    width : 30%;
    height : 560px;
    margin-left : 2%;
    font : oblique bold 12px arial,serif;
    color : #f44245;
    border-style : groove;
    border-width : 12px;
    border-color : #f44245;
    float : left;
    overflow-Y : scroll; 
}

#parentUl{
    background : #ff9999;
    padding : 20px;
    padding-left : 5%;
    padding-right : 5%;
    width : 90%;
    margin : 0; 
}

#liTitle{
    color : #f44245;
    list-style-type : none;
    background : #ffe5e5;
    padding : 15px;    
    margin-bottom : 15px;
    border-radius : 24px;
    font : oblique bold 16px arial,serif;
    text-align : center;
}

.list-object{
    color : #f44245;
    list-style-type : none;
    background : #ffe5e5;
    padding : 15px;          
    margin-bottom : 15px;
    border-radius : 12px;
}

.list-btn{
    background-color : #ff9999;
    border : none;
    color : white;
    padding : 20px;
    text-align : center;
    text-decoration : none;
    font-size : 10px;
    margin : 4px 2px;
    cursor : pointer;
    border-radius : 12px;
    float : right;
}

.list-table{    
    width : 70%;
    margin-right : 0px;
    display : inline-block;
}









