#parentDiv{
    background : "#ff9999";
    padding : "20px";
    border-radius : "12px";
    width : "90%";
    height : "800px";
    margin-right : "4%";
    margin-left : "4%";
    font : "oblique bold 20px arial,serif";
    color : "rgb(255, 229, 229)";
    border-style : "groove";
    border-width : "12px";
    border-color : "#f44245";
}